@import 'tailwindcss';

@theme {
  --color-accent-bg: rgb(170, 59, 255);
  --color-accent: #fff;
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-border: #e5e4e7;
  --color-secondary: #aa3bff;
  --color-secondary-bg: rgba(170, 59, 255, 0.1);
  --color-bg: #fff;
  --color-text: #6b6375;
}

:root {
  --text: #18181b;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #fff;
  --accent-bg: rgb(170, 59, 255);
  --accent-border: rgba(170, 59, 255, 0.5);
  --secondary-bg: rgba(170, 59, 255, 0.1);
  --secondary: #aa3bff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/125% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
}

h2 {
  font-size: 22px;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 16px;
}

p {
  margin: 0;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(0) scale(1.07);
  }
}
